{% load static %}
<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Blog - Tutorials</h2>
            <p>Güncel konularla ile ilgili blog yazılarıma buradan ulaşabilirsiniz</p>
          </div>
  
          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-docker">Docker</li>
                <li data-filter=".filter-asp">Asp.net core</li>
                <li data-filter=".filter-python">Python</li>
              </ul>
            </div>
          </div>
          
          <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
            {% for element in Blog_Element %}
            <div class="col-lg-4 col-md-6 portfolio-item {{ element.Type_Filter}}">
              <div class="portfolio-wrap">
                <img src="{{ element.Blog_img.url }}" class="img-fluid" alt="">
                <div class="portfolio-links">
                  <a href="{% url 'blog_list' element.pk %}" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            {% endfor%}
          </div>
          
        </div>
      </section><!-- End Portfolio Section -->