{% load static %}
<section id="services" class="services section-bg">
        <div class="container">
  
          <div class="section-title">
            <h2>Blog - Konuları</h2>
            <p>Bilişim Teknoloji konularında yazılmış bloglar.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Docker</a></h4>
              <p class="description">Docker, "konteynerleştirme" olarak da bilinen işletim sistemi seviyesinde sanallaştırma sağlayan bir bilgisayar programıdır. İlk sürümü 2013'te yayınlanmıştır. Docker, "konteyner" adı verilen yazılım paketlerini çalıştırmak için kullanılmaktadır</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
              <h4 class="title"><a href="">Django</a></h4>
              <p class="description">Django, Python Programlama Dili için hazırlanmış ve BSD lisansı ile lisanslanmış yüksek seviyeli bir web çatısıdır.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="icofont-earth"></i></div>
              <h4 class="title"><a href="">Asp.net</a></h4>
              <p class="description">ASP.NET Core, Microsoft tarafından geliştirilen ücretsiz ve açık kaynaklı bir web çerçevesidir ve ASP.NET'in halefidir. </p>
            </div>

          </div>
  
        </div>
</section>